head
  title NodeJs-Pug-Starter
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  meta(name="description" content="")
  meta(name="author" content="")
    
  script(src='javascripts/index.js')
  link(rel='stylesheet', href='stylesheets/main.css')
  link(rel='stylesheet', href='vendor/bootstrap/css/bootstrap.min.css')
  link(rel="icon" type="image/png" href="images/icon.png")
