head
  title NodeJs-Pug-Starter
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  meta(name="description" content="")
  meta(name="author" content="")

  script(src='javascripts/index.js')
  link(rel='stylesheet', href='stylesheets/main.css')
  link(rel='stylesheet', href='vendor/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet', href='stylesheets/home.css')
  link(rel='stylesheet', href='stylesheets/stack.css')
  link(rel='stylesheet', href='stylesheets/loginRegister.css')
  link(rel='stylesheet', href='stylesheets/edit.css')
  link(rel="icon" type="image/png" href="images/icon.png")
  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  link(href="https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100;200;300;400;500&display=swap" rel="stylesheet")
