doctype html
html(lang="en")
    include includes/head.pug
    body
        //- Page Content
        form(id="inputForm", method="POST")
            input(id="frontDataInput", type="hidden", name="frontDataInput")
            input(id="backDataInput", type="hidden", name="backDataInput")
        div.contentSection
            div.sectionHeader
                div.leftSectionHeaderButtonContainer
                    a.sectionHeaderButton(href="/home") home

            div.flashcard
                p.front(id="front")
                p.back(id="back")
            div.submitChangesButtonContainer
                button.submitFormButton.submitChangesButton(id="submit") submit


                    div(class="container")
                        if errors
                            p
                                each val in errors
                                    p=val


        script(src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest")
        script(src="https://cdn.jsdelivr.net/npm/@editorjs/header@2.7.0/dist/bundle.min.js")
        script(src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest")
        script(src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest")
        script(src="https://cdn.jsdelivr.net/gh/mdgaziur/EditorJS-LaTeX@latest/dist/editorjs-latex.bundle-min.js")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mdgaziur/EditorJS-LaTeX@latest/dist/editorjs-latex.bundle.min.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.12.0/katex.min.js")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.12.0/katex.min.css")


        script.

            const frontData = !{flashcard.front}
            const backData = !{flashcard.back}
            const frontEditor = new EditorJS({
                holder: "front",

                tools: {
                    header: {
                        class: Header,
                        inlineToolbar: true,
                    },
                    list: {
                        class: List,
                        inlineToolbar: true,
                        config: {
                            defaultStyle: "unordered"
                        }
                    },
                    quote: {
                        class: Quote,
                        inlineToolbar: true,
                        config: {
                            quotePlaceholder: "quote",
                            captionPlaceholder: "author",
                        },
                    },
                    Math: {
                        class: EJLaTeX,
                        shortcut: 'CMD+SHIFT+M'
                    },
                },

                data: frontData
            })
            document.getElementById("submit").addEventListener("Click", () => {

            })


            const backEditor = new EditorJS({
                holder: "back",

                tools: {
                    header: {
                        class: Header,
                        inlineToolbar: true,
                    },
                    list: {
                        class: List,
                        inlineToolbar: true,
                        config: {
                            defaultStyle: "unordered"
                        }
                    },
                    quote: {
                        class: Quote,
                        inlineToolbar: true,
                        config: {
                            quotePlaceholder: "quote",
                            captionPlaceholder: "author",
                        },
                    },
                    Math: {
                        class: EJLaTeX,
                        shortcut: 'CMD+SHIFT+M'
                    },
                },

                data: backData

            })
            document.getElementById("submit").addEventListener("click", async () => {

                const frontEditorContent = JSON.stringify(await frontEditor.save())
                document.getElementById("frontDataInput").value = frontEditorContent

                const backEditorContent = JSON.stringify(await backEditor.save())
                document.getElementById("backDataInput").value = backEditorContent

            document.getElementById("inputForm").submit()
            })

        script(src="vendor/jquery/jquery.min.js")
        script(src="vendor/bootstrap/js/bootstrap.bundle.min.js")
