doctype html
html(lang="en")
    include includes/head.pug
    body

        //- Page Content
        div.contentSection.loginRegisterPage
            p.loginRegisterHeadline login.
            form(action="/login", method="POST")
                p
                    input.inputField.loginRegisterFormInput(type="text", name="emailOrUsername", placeholder="email address or username")
                p
                    input.inputField.loginRegisterFormInput(type="password", name="password", placeholder="password")
                p
                    input.submitFormButton.loginRegisterButton(type="submit", value="login")
            p.errorMessage
                if errors
                    each val in errors
                        p=val

            hr.loginRegisterHr
            div.loginRegisterRedirectSection
                p don't have an account yet?
                p
                    a.loginRegisterRedirect(href="/register") register


        script(src="vendor/jquery/jquery.min.js")
        script(src="vendor/bootstrap/js/bootstrap.bundle.min.js")