doctype html
html(lang="en")
    include includes/head.pug
    body

        //- Page Content
        div.contentSection.loginRegisterPage
            p.loginRegisterHeadline register.
            form(action="/register", method="POST")
                p
                    input.inputField.loginRegisterFormInput(type="text", name="email", placeholder="email address")
                p
                    input.inputField.loginRegisterFormInput(type="text", name="username", placeholder="username")
                p
                    input.inputField.loginRegisterFormInput(type="password", name="password", placeholder="password")
                input.submitFormButton.loginRegisterButton(type="submit", value="register")
            p.errorMessage
                if errors
                    each val in errors
                        p=val
                if duplicates
                    each val in duplicates
                        p=val

            hr.loginRegisterHr
            div.loginRegisterRedirectSection
                p already registered?
                p
                    a.loginRegisterRedirect(href="/login") login


        script(src="vendor/jquery/jquery.min.js")
        script(src="vendor/bootstrap/js/bootstrap.bundle.min.js")
