doctype html
html(lang="en")
    include includes/head.pug
    body

        //- Page Content
        section
        div(class="container")
            if directlyUnderRoot
             a.btn.btn-primary(href="/home") Home
            else
             a.btn.btn-primary(href="/home") Home
             a.btn.btn-primary(href="/home?id=" + parentFolder) Up

            if flashcard
                a.btn.btn-primary(href="/editStack") Edit Stack
                a.btn.btn-primary(href="/edit?id=" + flashcard.flashcardID) Edit Flashcard
                a.btn.btn-primary(href="/edit?parentID=" + flashcardParent) New Flashcard


        div(class="container")
            if flashcard
                p(id="front")
                p(id="back", style="display:none;")

            form(method="POST")
                //input(type="text", name="answer", placeholder="answer")
                p
                input(name="answeredFlashcard", type="hidden", value= flashcard)
                input(name="difficulty", type="submit", value="Incorrect")
                input(name="difficulty", type="submit", value="Hard")
                input(name="difficulty", type="submit", value="Medium")
                input(name="difficulty", type="submit", value="Easy")


                div(class="container")
                    if errors
                        p
                            each val in errors
                                p=val

        script(src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest")
        script(src="https://cdn.jsdelivr.net/npm/@editorjs/header@2.7.0/dist/bundle.min.js")
        script(src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest")
        script(src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest")


        script.
            // "saves" flashcard that was just answered so the database can be adjusted

            const frontData = !{flashcard.front}
            console.log(frontData)
            const backData = !{flashcard.back}
            console.log(backData)
            document.getElementById("front").addEventListener("click", () => {
               if (document.getElementById("back").style.display === "block") {
                   document.getElementById("back").style.display = "none"
               } else {
                   document.getElementById("back").style.display = "block"
               }
            })

            const frontEditor = new EditorJS({
                holder: "front",

                tools: {
                    header: {
                        class: Header,
                        inlineToolbar: true,
                    },
                    list: {
                        class: List,
                        inlineToolbar: true,
                        config: {
                            defaultStyle: "unordered"
                        }
                    },
                    quote: {
                        class: Quote,
                        inlineToolbar: true,
                        config: {
                            quotePlaceholder: "quote",
                            captionPlaceholder: "author",
                        },
                    },
                },

                readOnly: true,
                data: frontData
            })

            const backEditor = new EditorJS({
                holder: "back",

                tools: {
                    header: {
                        class: Header,
                        inlineToolbar: true,
                    },
                    list: {
                        class: List,
                        inlineToolbar: true,
                        config: {
                            defaultStyle: "unordered"
                        }
                    },
                    quote: {
                        class: Quote,
                        inlineToolbar: true,
                        config: {
                            quotePlaceholder: "quote",
                            captionPlaceholder: "author",
                        },
                    },
                },

                readOnly: true,
                data: backData


            })








        script(src="vendor/jquery/jquery.min.js")
        script(src="vendor/bootstrap/js/bootstrap.bundle.min.js")