body {
    /*background: url('../images/bg_pug.jpg') no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    font-family: 'M PLUS 1', sans-serif;
    overflow: auto;
    background-color: #f5f5f5;

}
/*
    Ambiguous
 */
.header {
    height: 20px;
}
/*
File System
 */

.fileSystem {
    overflow: scroll;
}

.fileSystem::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}
/*File System Header*/





.fileSystemHeadline {
    font-size: 18px;
    text-decoration-line: underline;
}

.foldersSection {
    padding: 32px;
}
.stacksSection {
    padding: 32px;
}
.folderOrStackList {
    padding-left: 16px;
}
/*
popup
 */

.popupBackgroundHidden {
    display: none;
}

.popupBackground:not(.popupBackgroundHidden) {
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.48);
    z-index: 2;
}

.popupHidden {
    display: none;
}

.popup {
    color: #58616E;
    padding: 16px;
    border-radius: 8px;
    height: 200px;
    width: 400px;
    background-color: white;
    opacity: 1;
}

.createButton {
    width: 100%;
}




.nameInput {
    width: 100%;
}



.popupInputContainer {
    flex-direction: column;

}

.popupError {
    width: 100%;
    text-align: center;
}
